<div class="container text-center top mt-3">
  <div class="row align-items-center">
    <h1 class="col text-danger">Customer Component</h1>
  </div>
</div>

{{customer | json}}

<form #customerForm="ngForm" (submit)="saveCustomer()">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="customerId"
      placeholder="Enter Customer Id"
      [(ngModel)]="customer.id"
    >
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="customerName"
      placeholder="Enter Customer Name"
      [(ngModel)]="customer.name"
    >
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="customerAddress"
      placeholder="Enter Customer Address"
      [(ngModel)]="customer.address"
    >
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="customerTel"
      placeholder="Enter Customer Tel"
      [(ngModel)]="customer.tel"
    >
  </div>
  <button type="submit" mat-raised-button color="primary">Save Customer</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Tel</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customersData;  let i = index;">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.tel}}</td>
    </tr>
  </tbody>
</table>